streamlit
numpy
pillow

SpeechRecognition
load-dotenv
langchain
langchain-groq
langchain-openai
langchain-core
langchain-community

fpdf
tensorflow
tf-keras
language-tool-python
pdf2image
scikit-learn
pypdf
faiss-cpu
