streamlit
numpy
pillow

SpeechRecognition
load-dotenv
langchain
langchain-groq
langchain-openai
langchain-core
langchain-community

opencv-python
fpdf
tensorflow
tf-keras
language-tool-python
shutil
collections
dataclasses
typing
pdf2image
scikit-learn

